.intro{
  color: red;
  text-align: center;

}

.next{
  color: blue;
  text-align: center;


}

.under{
  color: red;
  text-decoration-style: solid;
  text-align: center;

}

.final{
  color: blue;
  text-align: center;

  
}
